@import url('./reset.css');

.form_wrap {
  margin: 50px 0;
  max-width: 1400px;
}
.form_wrap form {
  width: 500px;
  margin: 0 auto;
  display: flex;
}
.form_wrap form .recipe_search {
  width: 100%;
  flex: 1;
  margin-right: 10px;
}
.form_wrap form button .search_btn {
  flex: 1;
}
.recipe_list_wrap {
  padding: 0 30px;
  margin: 0 auto;
  max-width: 1400px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 50px;
}
.recipe_list_wrap li {
  cursor: pointer;
}
.recipe_list_wrap li img {
  width: 100%;
  aspect-ratio: 1;
  border-radius: 10px;
}
.recipe_list_wrap li p {
  text-align: center;
}