@import url('./reset.css');

.sub_tit {
  display: inline-block;
  font-size: 30px;
  border-bottom: 3px solid orange;
  margin-bottom: 20px;
  padding-bottom: 5px;
}

.container {
  max-width: 700px;
  margin: 0 auto;
  padding: 50px 30px;
  display: flex;
  flex-direction: column;
  padding-top: 50px;
}
.menu_img_wrap {
  width: 100%;
  margin: 0 auto 40px;
}
.menu_img_wrap img {
  width: 100%;
  aspect-ratio: 1.1;
}
.rcp_nm {
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 20px;
}
.rcp_pat {
  font-size: 20px;
  padding-bottom: 30px;
  border-bottom: 1px solid #ccc;
}
.rcp_dtls_wrap {
  padding: 30px 0;
  border-bottom: 1px solid #ccc;
}
.rcp_dtls_wrap .rcp_dtls {
  line-height: 1.5;
}
.rcp_info_tip_wrap {
  padding: 30px 0;
  display: flex;
  border-bottom: 1px solid #ccc;
}
.rcp_info_tip_wrap .rcp_info_wrap {
  flex: 1;
}
.rcp_info_tip_wrap .rcp_info_wrap p {
  line-height: 1.5;
}
.rcp_info_tip_wrap .rcp_na_tip_wrap {
  flex: 1;
}
.rcp_info_tip_wrap .rcp_na_tip_wrap .rcp_na_tip {
  line-height: 1.5;
}
.menual_wrap {
  padding-top: 30px;
}
.menual_wrap .menual_list {

}
.menual_wrap .menual_list li {
  display: flex;
  margin-bottom: 20px;
}
.menual_wrap .menual_list li:last-child {
  margin-bottom: 0;
}
.menual_wrap .menual_list li .menual_li_img_wrap {
  max-width: 200px;
  flex: 1;
  margin-right: 30px;
}
.menual_wrap .menual_list li .menual_li_img_wrap img {
  width: 100%;
}
.menual_wrap .menual_list li p {
  flex: 1;
  line-height: 1.5;
}